#list-page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.list-container {
  flex: 1 0 auto; /* Prend toute la hauteur dispo */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}

footer {
  flex-shrink: 0;
}

@media (max-width: 1800px) {
  .list-container {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: none;
  }
}
